$primarycolor : #bde0fe;
$secondaryColor: rgb(179, 179, 179);
$blue: rgb(255, 255, 255);

*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.container{
    background-color: $primarycolor;
    border-radius: 2rem;
    border: 1px solid $blue;
    width: 30%;
    margin: auto;
    padding: 1rem;
}

.container p {
    font-size: 1em;
    margin-left: 10px;
    font-weight: 700;
}

.container span {
    text-decoration: underline;
    color: #e63946
}

.container span:hover {
    cursor: pointer;
}

header{
    height: 50px; 
    text-align: center;
    padding: 40px;
    background-color: $secondaryColor;
}

h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    margin: 2rem 0;
}

#new-task-form{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;

    #new-task-submit{
        width: 100px;
        padding: 10px;
        border-radius: 30px;
        background-color: $blue;
        color: rgb(0, 0, 0);
    }

    #new-task-input::placeholder{
        color: black;
    }

    #new-task-input{
        padding: 10px;
        width: 250px;
        background-color: $blue;
        border: 1px solid black;
        border-radius: 15px;
        color: rgb(0, 0, 0);
        font-size: 1em;
        }
        ::-webkit-input-placeholder {
            color: white;
        
    }
}

main {
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: auto;
}

#task-text ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#text li {
    list-style-type: none;
    background-color: $blue;
    border-radius: 1rem;
    padding: 0 10px;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin: 0 2rem;
    text-align: center;
}